<div class="row">
  <div class="col-xs-12">
    <form
      #shoppingListForm="ngForm"
      (ngSubmit)="editMode ? onUpdateIngrediant() : onAddIngrediant()"
    >
      <div class="row">
        <div class="col-sm-5 from-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            ngModel
            name="amount"
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              *ngIf="!editMode"
              [disabled]="!shoppingListForm.valid"
              class="btn btn-success"
              type="submit"
            >
              Add
            </button>
            <button
              *ngIf="editMode"
              [disabled]="!shoppingListForm.valid"
              class="btn btn-success"
              type="submit"
            >
              Update
            </button>
            <button
              [disabled]="!editMode"
              class="btn btn-danger"
              type="button"
              (click)="onDeleteItem()"
            >
              Delete
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onFormClear()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
